extends layout

block content
  |  <br/>  
  |  <br/>  
  |  <br/>  
  |  <br/>  
  |  <br/>  
  |  <br/>  
  |  <br/>  
  |  <br/>  
  |  <br/>  
  |  <br/>  

  h1 Email Database!
  

  p
  p
  
  b Choose action you want to perform on #{title} 
  p
  
  
  li
    a(href='/newuser') Add New User
  
  |  <br/>
  li  
    a(href='/userlist') See List Of Users in Database!  

  |  <br/>
  li  
    a(href='/deleteuser') Delete user from Database! 
  
  
  p
  p
  b @Ajay <br/>
  b Blog : apprajapati9.blogspot.ca <br/>
  b Before running this blog , please make sure to have your MongoDB database Setup!
  p Welcome to #{title} + MongoDB + Jade!