extends layout

block content
	|  <br/>
	|  <br/>	
	|  <br/>
	|  <br/>
	|  <br/>
	|  <br/>
	|  <br/>
	|  <br/>
	|  <br/>
	|  <br/>
	|  <br/>
	h1.
		User List
	p	Click to send Email to the User!
	ul
		each user, i in userlist
			li
				a(href="mailto:#{user.email}")= user.username
				
	a(href='..') Go Back to Main Page!  